@if $use-fw == true {

/* 
   $fw
   ========================================================================== */

.fw-l 	{ font-weight: 300; }
.fw-n	{ font-weight: 400; }
.fw-b 	{ font-weight: 700; }

} //end if
