@if $use-lh == true {

/* 
   $lh
   ========================================================================== */

.lh-n 	{ line-height: 0; }
.lh-m 	{ line-height: $lh-m; }
.lh-l 	{ line-height: $lh-l; }

} //end if
