@if $use-mr == true {

/* 
   $mr
   ========================================================================== */

.mr-n	{ margin-right: 0; }
.mr-xs 	{ margin-right: $sp-xs; }
.mr-s 	{ margin-right: $sp-s; }
.mr-m 	{ margin-right: $sp-m; }
.mr-l 	{ margin-right: $sp-l; }
.mr-xl  { margin-right: $sp-xl; }

} //end if

