@if $use-mt == true {

/*  
   $mt
   ========================================================================== */

.mt-n 	{ margin-top: 0; }
.mt-xs 	{ margin-top: $sp-xs; }
.mt-s 	{ margin-top: $sp-s; }
.mt-m 	{ margin-top: $sp-m; }
.mt-l 	{ margin-top: $sp-l; }
.mt-xl  { margin-top: $sp-xl; }

} //end if

