@if $use-nmb == true {
	
/* 
   $nmb
   ========================================================================== */

.nmb-xs	{ margin-bottom: -$sp-xs; }
.nmb-s 	{ margin-bottom: -$sp-s; }
.nmb-m 	{ margin-bottom: -$sp-m; }
.nmb-l 	{ margin-bottom: -$sp-l; }
.nmb-xl { margin-bottom: -$sp-xl; }

} //end if