@if $use-op == true {

/* 
   $op
   ========================================================================== */

.op-9 	{ opacity: .9; }
.op-8 	{ opacity: .8; }
.op-6 	{ opacity: .6; }

} //end if

