@if $use-pl == true {

/* 
   $pl
   ========================================================================== */

.pl-n 	{ padding-left: 0; }
.pl-xs	{ padding-left: $sp-xs; }
.pl-s	{ padding-left: $sp-s; }
.pl-m	{ padding-left: $sp-m; } 
.pl-l	{ padding-left: $sp-l; }
.pl-xl	{ padding-left: $sp-xl; }

} //end if
