@if $use-ta == true {

/* 
   $ta
   ========================================================================== */

.ta-l 	{ text-align: left; }
.ta-c	{ text-align: center; }
.ta-r	{ text-align: right; }

} //end if
