/* 
   $table
   ========================================================================== */

table {
	width: 100%;
}

th,
td {
    padding: $sp-s;
}
 
th {
	text-align: left;
}

th > a {
    color: inherit;
}
