@if $use-alert == true {

/* 
   $alert
   ========================================================================== */

//
// The alert object is used to create alert notifications.
//
// <div class="alert danger"></div>

.alert {
	@extend %mb-m;
	display: block;
	padding: $sp-s;
    border-radius: $ui-radius;
	font-size: 85%;
}

} //end if

