@if $use-data == true {

/* 
   $data
   ========================================================================== */

//
// The data object is used to create tables for displaying data.
//
// <table class="data">
//
//     <thead>
//         <tr>
//             <th>Head 1</th>
//             <th>Head 2</th>
//             <th>Head 3</th>
//         </tr>
//     </thead>
//
//     <tbody>
//         <tr>
//             <td>Body 1</td>
//             <td>Body 2</td>
//             <td>Body 3</td>
//         </tr>
//     </tbody>
//
// </table>
//

.data th {
    padding-top: 0;
}

.data td {
    border-top: 1px dotted $ui-border;
}

.data input[type="image"] {
    margin-right: $sp-xs;
}

/* 
   $data--prop
   ========================================================================== */

//
// Remove the top border if there is no thead present.
//

.data--prop > tbody > tr:first-child > td {
	border-top: 0;
}

/* 
   $data--zebra
   ========================================================================== */

.data--zebra > tbody > tr:nth-child(odd) > td {
	background: $data-zebra;
}

} //end if

