@if $use-dock == true  {
	
/* 
   $dock
   ========================================================================== */

//
// The dock object helps dock content to the edge of the browser window.
//

.dock {
	position: absolute;
	z-index: 1;
}

/* 
   $dock--t
   ========================================================================== */

.dock--t {
	width: 100%;
	top: 0;
}

/* 
   $dock--m
   ========================================================================== */

.dock--m {
	width: 100%;
	top: 33%;
}

/* 
   $dock--t
   ========================================================================== */

.dock--b {
	width: 100%;
	bottom: 0;
}

/* 
   $dock--l
   ========================================================================== */

.dock--l {
	height: 100%;
	left: 0;
}

/* 
   $dock--r
   ========================================================================== */

.dock--r {
	height: 100%;
	right: 0;
}

/* 
   $dock--fixed
   ========================================================================== */

.dock--fixed {
	position: fixed;
}

} //end if
