@if $use-grid == true {

/* 
   $grid
   ========================================================================== */

//
// The grid object is used to create a fluid grid with a gutter.
//
// <div class="grid">
//
//     <div class="grid__item w-1-2"></div>
//     <div class="grid__item w-1-2"></div>
//
// </div>
//

.grid {
	@extend %cf;
	margin-left: -$sp-m;
}

	.grid > .grid {
		margin-left: 0;
	}

	.grid__item {
		float: left;
		padding-left: $sp-m;
	}

} //end if