@if $use-matrix == true {

/* 
   $matrix
   ========================================================================== */

//
// The matrix object creates a grid out of a list. 
//
// <ul class="matrix">
//
//     <li class="w-1-3"><a href="#">Item 1</a></li>
//     <li class="w-1-3"><a href="#">Item 1</a></li>
//     <li class="w-1-3"><a href="#">Item 1</a></li>
//
// </ul>
//

.matrix {
	@extend %cf;
	@extend %sp-n;
	list-style: none;
}

	.matrix > li > a {
		display: block;
	}

@include media(small) {

	.matrix > li {
		float: left;
	}

} 

} //end if