// ==========================================================================
// $QUARKS
// ========================================================================== 

// 
// $body  
// ========================================================================== 

$body-font:			"Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
$body-color:		#222;

// 
// $masthead     
// ========================================================================== 
  
// 
// Define our hero and leading paragraph font-size.
//  

$hero:				68px;
$lead:				24px;

// 
// $link      
// ========================================================================= 

$link-color:		#08C;

// 
// $ui      
// ========================================================================== 

$ui-border:			#ddd;
$ui-button:			#e02a2b;
$ui-focus:			#e02a2b;
$ui-radius:			2px;

// 
// $data   
// ========================================================================== 

$data-zebra:		#F5F5F5;

// ==========================================================================
// $OBJECTS
// ========================================================================== 

// 
// $sect      
// ========================================================================== 

// 
// Determines the maximum width of the sect object.
//

$sect-width:		980px;

// 
// $bar      
// ========================================================================== 

// 
// Determines the inner background color of the bar object.
//

$bar-color:			#E02A2B;

// ==========================================================================
// $ATOMS
// ========================================================================== 

// 
// $fz
// ========================================================================== 

//
// Atoms used to determine font-size. fz-m is the base font size.
//

$fz-xs:				12px; 
$fz-s:				16px; 
$fz-m:				18px; 
$fz-l:				24px; 
$fz-xl:				36px; 
$fz-xxl:			48px; 

// 
// $lh      
// ========================================================================== 

// 
// Atoms used to determine line-height. lh-m is the base line-height.
//

$lh-m:				27px;
$lh-l:				39px;

// 
// $sp      
// ========================================================================== 

// 
// Atoms used to determine spacing.
//

$sp-xs: 			6px;
$sp-s: 				12px;
$sp-m: 				24px;
$sp-l: 				36px;
$sp-xl: 			48px;

//
// $ra
// ========================================================================== 

//
// Used to define border radius.
//

$ra-xs:				2px;
$ra-s:				4px;
$ra-m:				6px;
$ra-l:				8px;
$ra-xl:				12px;

// ==========================================================================
// $COLORS
// ========================================================================== 

//
// Define our main colors swatches.
//

$colors: (
  	
  	primary: 		#fff,
  	accent: 		#fff,
  	info:			red,
  	warning: 		blue
);


// ==========================================================================
// $DEVICE
// ========================================================================== 

// 
// $bp
// ========================================================================== 

//
// Breakpoint widths used by media queries. 
//

$bp-s:				480px;
$bp-m:				980px;
$bp-w:				1200px;